.logo-icon {
    width:64px;
    margin-right: 2px;
    border-radius: 45%;
    position: relative;
    top: -7px;
}

#logo-div {
    width: 100%;
    display: flex;
    align-items: center;
    color: #1876D1;
}

.title {
    padding:'10% 0'
}